 /* Universal Selector */
 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
 }
/* CSS Variables */
:root{
    --bg-color-main:#1C4040;
    --white-color: #F4F4F1;
    --font-family-main-heading:"Signika", sans-serif;
    --font-family-content:"Poppins", sans-serif;
  }

#header{
    font-family: var(--font-family-main-heading);
    padding: 10px 0px;
}
/* Main Section */
#main-section{
    margin: 20px auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    width: 100%;
 }
 #product-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 430px;
    border: 1px solid gray;
    border-radius: 15px;
 }
 #product-item img
 {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    padding: 5px;
 }
 #product-item p{
    padding: 5px;
    font-family: var(--font-family-content);
 }
 #product-button{
    display: flex;     
    align-items: center;
    margin-bottom: 10px; 
    padding-left: 7px;
    padding-right: 7px;
 }
 #product-button p{
    width: 90px;
    padding-left: 11dvw;
    margin: 3px;
    justify-content: space-around;
 }
 #product-button button:hover{
    color: white;
    background-color: blue;
 }

 #product-button button{
    margin: 1px;
    width: 60px;
    border-radius: 7px;
}
 