<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active-link">AboutUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active-link">ContactUs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo" routerLinkActive="active-link">Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active-link">Product</a>
      </li>
    </ul>
  </nav>
</header>