<header>
  <nav>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/homenew" routerLinkActive="active-link">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product" routerLinkActive="active-link">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cart" routerLinkActive="active-link">Cart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/checkout" routerLinkActive="active-link">Checkout</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" routerLink="/productcatlog" routerLinkActive="active-link">Products</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/order" routerLinkActive="active-link">Order</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chat" routerLinkActive="active-link">Chat</a>
      </li>
    </ul>
  </nav>
</header>