<div class="container">
    <div class="card" style="padding: 20px;">
  <!-- <button (click)="createTodo()" class="btn btn-primary">Create ToDO</button>  -->
  <form [formGroup]="myForm" (ngSubmit)="OnSubmit()">
   
    <label for="">Enter Title</label>
    <div class="row">
        <div class="col">
          <input  style="width:250px;"
            type="text" hidden="true"
            class="form-control"
            formControlName="Id" 
                    
            
          />
        </div>
      </div>
    <div class="row">
      <div class="col">
        <input style="width:250px;"
          type="text"
          class="form-control"
          formControlName="title"
          placeholder="Enter title"
        />
      </div>
    </div>
    <label>Select Status</label>
    <div class="row">
      <div class="col">
        <input
        class="custom-control-input"
          type="radio"
          class=""
          name="status"
          id="rbt1"
          formControlName="status"
          value="true"
         
        />
        Completed
        </div>
        </div>
        <div class="row">
        <div class="col">
        <input class="custom-control-input"
          type="radio"
          class=""
          name="status"
          id="rbt2"
          formControlName="status"
          value="false"
          
        />
        Not Completed
      </div>
    </div>
    <div class="row" style="float: right;">
        <div class="col" >
            <button  type="submit" class="mt-2 btn btn-primary">Add Item</button>           
            <button 
            class="mt-2 btn btn-primary"
            type="button" style="margin-left: 5px;"
            (click)="onUpdate()"
          >
            Update
          </button>
        </div>
    </div>
    
  </form>
 
<div class="col-md-8 mt-2">
    <label for="serach">Search by title</label>
    <input type="text" class="form-control" id="search" placeholder="Enter Title" [(ngModel)]="title">
</div>
  <table class="table" >
    <thead>
        <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>     
      <th>Actions</th>
        </tr>
      
    </thead>
    <tbody>
        
      <tr *ngFor="let todo of todoList | filter:title"  >
        <td> <a [routerLink]="['/todoview', todo.id]" >{{todo.id}}</a> </td>
        <td>{{ todo.title }}</td>
        <td *ngIf="todo.status">Completed</td>
        <td *ngIf="!todo.status">Not Completed</td>        
        <td>
          <button type="button" class="btn btn-link" (click)="editTodo(todo)">
            Edit
          </button>
          <button type="button" class="btn btn-link" (click)="deleteTodo(todo)">
            Delete
          </button>
        </td>
        
      </tr>
      <tr *ngIf="todoList.length==0">
        <td colspan="4"> No record Found available</td>
     </tr>
    </tbody>
  </table>
</div>
</div>
